.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebarlt {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebarlt:hover {
  background-color: rgb(236, 236, 236);
}

.sidebarlt img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebarlt div {
  font-family: Roboto, Arial;
  font-size: 10px;
}